// $primary-color: #D4E09B;
// $secondary-color: #F6F4D2;
// $third-color: #CBDFBD;
// $fourth-color: #F19C79;


$primary-color: #edf3ef;
$secondary-color: #FFE5D9;
$third-color: #fcb2c0;
$fourth-color: #a56a74;